.App{
    background: #F6F6F6;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    z-index: 3 !important;
    margin-top: 4.5em;
}

.modal{
    z-index: 10000 !important;
}

.modal-lg{
    height: 0em;
}

.barra_rolagem{
    max-height: 26em !important;
    overflow-y: auto;
}

/* width */
.barra_rolagem::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.barra_rolagem::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.barra_rolagem::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.barra_rolagem::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

