h2#estoque {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
}

input {
    width: 80% !important;
}

a#gamb {
    position: relative;
    top: 23%;
}

.inputsEditar {
    width: 25em;
    margin-bottom: 0.75em;
}